.header {
    background: #141414;
  &__logo {
    cursor: pointer;
    width: 45px;
    display: flex;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
    }
    p {
      font-weight: 700;
    }
  }
  &__navLink {
    color: gray;
  }
  &__navLink.active{
    color: red;
  }
  &__logout {
    color: gray;
    cursor: pointer;
    &:hover{
      color: red;
    }
  }
}
